<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDao">

  <resultMap type="Board" id="BoardMap">
    <id     column="WNO"    property="no"/>
    <result column="TITLE"  property="title"/>
    <result column="PNO"  property="projectNo"/>
    <result column="MNO"  property="memberNo"/>
    <result column="CONT"    property="content"/>
    <result column="VIEWS"  property="views"/>
    <result column="W_DT"    property="createdDate"/>
  </resultMap>
  
  <select id="selectList" resultMap="BoardMap">
    select WNO, TITLE, CONT, VIEWS, W_DT
    from POSTS
  </select>
  
  <select id="selectOne" parameterType="int" resultMap="BoardMap">
    select WNO, TITLE, CONT, VIEWS, W_DT
    from POSTS
    where WNO=#{no}
  </select>
  
  <insert id="insert" parameterType="Board">
    insert into 
      POSTS(TITLE,PNO,MNO,CONT,W_DT)
      values(#{title},#{projectNo},#{memberNo},#{content},now());
  </insert>
  
  <update id="update" parameterType="Board">
    update POSTS set
      TITLE=#{title},
      PNO=#{projectNo},
      MNO=#{memberNo},
      CONT=#{content},
      W_DT=now()
    where WNO=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from POSTS
    where WNO=#{no}
  </delete>
  
</mapper>