<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TaskDao">

  <resultMap type="Task" id="TaskMap">
    <id     column="TANO"    property="no"/>
    <result column="TNM"  property="title"/>
    <result column="PNO"  property="projectNo"/>
    <result column="MNO"    property="memberNo"/>
    <result column="CONT"    property="content"/>
    <result column="ST_DT"    property="startDate"/>
    <result column="ED_DT"    property="endDate"/>
  </resultMap>
  
  <select id="selectList" resultMap="TaskMap">
    select TANO, TNM, CONT, ST_DT, ED_DT
    from TSK
  </select>
  
  <select id="selectOne" parameterType="int" resultMap="TaskMap">
    select TANO, TNM, CONT, ST_DT, ED_DT
    from TSK
    where TANO=#{no}
  </select>
  
  <insert id="insert" parameterType="Task">
    insert into 
      TSK(TNM,PNO,MNO,CONT,ST_DT,ED_DT) 
      values(#{title},#{projectNo},#{memberNo},#{content},#{startDate},#{endDate});
  </insert>
  
  <update id="update" parameterType="Task">
    update TSK set
      TNM=#{title},
      PNO=#{projectNo},
      MNO=#{memberNo},
      CONT=#{content},
      ST_DT=#{startDate},
      ED_DT=#{endDate}
    where TANO=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from TSK
    where TANO=#{no}
  </delete>
  
</mapper>